{% extends 'base.html.twig' %}

{% block title %}Home ECF Garage
{% endblock %}

{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}

	{% include 'navbar.html.twig' %}

	<div class="content-wrapper">

		{% block content %}


			<div class="example-wrapper">
				<h1 class="text-center">Hello</h1>
			</div>


			<div class="container text-center p-3">
				<img src="{{ asset('images/Garage V.Parrot.png') }}">
			</div>


			<div class="divred">je mange un caillou délicieu</div>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorem quisquam nostrum accusantium, in nihil mollitia saepe libero totam odit ab fugiat iste praesentium cum accusamus commodi nam, quaerat beatae.
							Eligendi, earum magnam ipsam accusantium obcaecati debitis quod iste? Odit ad, perspiciatis animi aliquam dolorum, accusantium ipsa omnis eum sit velit unde recusandae? Possimus id officia perspiciatis. Officiis, unde recusandae!
							Temporibus sit facere expedita. Velit eligendi doloribus vitae tenetur reprehenderit voluptatibus error maxime repellendus aliquam magnam. Corrupti, magnam animi nulla omnis dicta, veritatis, vel nisi quaerat dolores qui sapiente eius?
							Molestias reiciendis eveniet, laborum deleniti, autem saepe deserunt iusto totam natus hic eaque obcaecati iste maxime enim. Eum ea culpa corrupti soluta nostrum, cumque, quod sapiente, esse mollitia dolorum accusantium?
							Quam recusandae, magni officiis optio architecto omnis ipsum veniam, quae unde, officia quidem temporibus. Blanditiis ipsam, architecto quae in rem vel esse impedit sed eligendi, ad maxime totam quasi molestias.
							Explicabo provident facilis magnam tempora vitae consectetur est aperiam sapiente eos blanditiis maiores commodi ducimus unde sint sunt numquam labore, minus voluptates? Sint, qui laudantium expedita quo molestias voluptatem obcaecati.
							Laboriosam repellat culpa suscipit quisquam. Vero voluptatem omnis et ipsam sunt eum debitis praesentium aspernatur necessitatibus. Alias molestiae ipsum, omnis, repudiandae recusandae cumque quam perferendis corporis nam laborum odit vero.
							Reprehenderit voluptates exercitationem, pariatur atque perspiciatis minus magnam dolores quos. Molestias perspiciatis, illo, nesciunt delectus sunt tenetur quis doloribus nam culpa suscipit dicta dolores velit necessitatibus esse porro atque rem.
							Officiis quis dolores corrupti? Nostrum, quam? Sint expedita magnam molestiae beatae non. Qui nulla consequatur in tenetur doloremque labore sed. Fugiat alias autem exercitationem sint iure temporibus recusandae ea harum!
							Harum dolorum atque, fugiat earum illum obcaecati necessitatibus quibusdam quaerat sit error tempore consequuntur omnis nemo nesciunt fugit. Tenetur eligendi tempore ex eos praesentium unde debitis sapiente error aliquid officia.
							Hic fugit architecto repellendus perspiciatis repellat inventore nesciunt, velit atque distinctio dignissimos minus corporis natus! Recusandae nostrum vero facilis illum sequi! Minima quam reprehenderit, voluptate incidunt maxime optio repudiandae ea.
							Libero quod sint facilis sunt, at architecto quidem hic mollitia esse nisi ipsam ex minus veritatis est atque modi unde voluptatibus necessitatibus error deserunt fugiat officia. Doloremque eos dolores quasi.
							Reiciendis earum incidunt natus alias maiores odio perspiciatis neque totam. Placeat assumenda praesentium, deleniti provident consequatur quisquam cupiditate, eveniet esse explicabo atque nobis autem illo deserunt omnis aliquid et aliquam?
							Amet ipsum impedit voluptatem magnam, nesciunt aperiam asperiores veniam quo perspiciatis sunt officia, minima qui veritatis at corporis, reprehenderit cupiditate assumenda iure sequi iste fugiat officiis ipsa! Soluta, minus dolores?
							Eligendi quae doloribus reprehenderit dicta! Illo aliquid, quidem delectus laudantium repellendus fugiat, velit ab beatae voluptate atque ut, blanditiis sequi eveniet est aspernatur enim quas? Tempore ut culpa cum temporibus.</p>


		{% endblock %}
	</div>

	<div class="clearfix"></div>


	{% include 'horaires.html.twig' %}

	{% include 'footer.html.twig' %}


{% endblock %}
