<div class="horaires text-center">

	<h2>Horaires d'ouverture :</h2>

	<div class="mb-4">
		<p class="text-center">
			<strong>Lundi</strong>
		</p>
		<p class="text-center">8h45-12H / 14H-18H</p>
	</div>

	<div class="mb-4">
		<p class="text-center">
			<strong>Mardi</strong>
		</p>
		<p class="text-center">8h45-12H / 14H-18H</p>
	</div>

	<div class="mb-4">
		<p class="text-center">
			<strong>Mercredi</strong>
		</p>
		<p class="text-center">8h45-12H / 14H-18H</p>
	</div>

	<div class="mb-4">
		<p class="text-center">
			<strong>Jeudi</strong>
		</p>
		<p class="text-center">8h45-12H / 14H-18H</p>
	</div>

	<div class="mb-4">
		<p class="text-center">
			<strong>Vendredi</strong>
		</p>
		<p class="text-center">8h45-12H / 14H-18H</p>
	</div>

	<div class="mb-4">
		<p class="text-center">
			<strong>Samedi</strong>
		</p>
		<p class="text-center">8h45-12H / 14H-18H</p>
	</div>

	<div class="mb-4">
		<p class="text-center">
			<strong>Dimanche</strong>
		</p>
		<p class="text-center">8h45-12H / 14H-18H</p>
	</div>
	<br>

</div>
